body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.mainContent {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
    position: relative;
}

.gallery {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(min-content, max-content));
    gap: 30px;
    overflow-y: auto;
    height: calc(100% + 50px);
    padding: 20px;
    box-sizing: border-box;
    position: relative;


}

.imgGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    align-content: start;
}

.galleryContent {
    overflow-y: auto;
    padding-top: 3%;
    padding-left: 50px;
    padding-right: 3%;
}

@media (max-width: 768px) {
    .imgGrid {
        grid-template-columns: 1fr;
    }
}