.sidebar {
    position: sticky;
    top: 0;
    height: 848px;
    width: 210px;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 150px;
}

.mainContainer {
    border-radius: 3.7px;
    width: 99%;
    background: linear-gradient(180deg, rgba(230, 225, 253, 0.39) 0%, rgba(253, 215, 222, 0.39) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 87.7vh;
}

.listContainer {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.verticalList li {
    margin: 50px 0;
}

.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.19);
    font-family: Comfortaa, sans-serif;
    font-size: 23.463px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    cursor: default;
}

.listItem {
    cursor: pointer;
    padding: 20px 13px 20px 13px;
    position: relative;
    border-radius: 12.41px;
    transition: transform 0.3s;
    color: #000;
    font-weight: bold;
    z-index: 1;
}

.listItem::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12.41px;
    padding: 3.7px;
    background: linear-gradient(180deg,
            rgba(0, 143, 255, 0.5) 0%,
            rgba(255, 157, 0, 0.5) 34%,
            rgba(217, 0, 0, 0.5) 71.5%,
            rgba(151, 0, 136, 0.5) 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 15px rgba(186, 200, 255, 0.3), 0 6px 20px rgba(255, 202, 253, 0.2);
}

.listItem:hover {
    transform: scale(1.05);
}

.listItem.active::before {
    opacity: 1;
}

.listItem.active {
    transform: scale(1.1);
}

small {
    font-size: 0.7em;
}

#copyright {
    font-family: 'Comfortaa', sans-serif;
    font-size: 19.3px;
    font-weight: 400;
    line-height: 21.52px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #BFBFBF;
}

#copyright small {
    font-family: 'Comfortaa', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 11.15px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}