.imgCard {
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    width: 100%;
    height: auto;
}

.bottomBar {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.icons {
    display: flex;
    gap: 13px;
    padding-right: 96%;
    margin-left: -27%;
}

.userInfo {
    display: flex;
    align-items: center;
}

.username {
    font-size: 20px;
    color: #808080;
    margin-right: 7%;
}

