.sidebar {
    position: sticky;
    top: 0;
    height: 100%;
    width: 200px; /* Ensure this is appropriate for your layout */
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
}

.navWithLogo {
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
}

.mainContainer {
    margin-top: 25px;
    border-radius: 10px;
    width: 99%;
    /* opacity: 0.39; */
    /* background: linear-gradient(180deg, #e6e1fd 0%, #fdd7de 100%); */
    background: linear-gradient(
        180deg,
        rgba(230, 225, 253, 0.39) 0%,
        rgba(253, 215, 222, 0.39) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 87vh;
}

.logo {
    padding: 0 ;
    width: 200px;
    margin-right: 6%;
    cursor: pointer;
}

.listContainer {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.verticalList li {
    margin: 50px 0;
    cursor: pointer;
}

.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.19);
    font-family: Comfortaa;
    font-size: 23.463px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    cursor: default;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    .mainContainer {
        width: 100%;
    }

    .verticalList li {
        margin: 20px 0;
    }
}
