* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.container {
  background-color: white;
  height: 783px;
  min-width: 1654px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 30px;
  box-shadow: -21px 4px 60.7px 0px #C1C1C1;
  margin: 0 20%;
  overflow: hidden;
}

.container_top {
  background-color: #008fff;
  height: 106px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.elements {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 4%;
  gap: 10px;
}

.errorCode {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 86px;
  line-height: 90.3px;
  margin: 3% 0 4% 0;
  color: white;
  text-shadow: 8px 8px black;
  -webkit-text-stroke: 1.5px black;
}

.errorCode > span {
  color: #F8CC06;
}

.errorMessage {
  text-align: center;
  font-family: "Comfortaa", sans-serif;
  margin: 0 11%;
  font-size: 36px;
  font-weight: 700;
  line-height: 40.14px;
  margin: 5% 7%;
  padding: 0 2%;
  background: -webkit-linear-gradient(right, #FF5959, #2A00FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeThisWay {
  background-color: #DFD1FC;
  border-radius: 10px;
  border: 1px solid #000000;
  margin: 2% 0 0 0;
  height: 120px;
  width: 803px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.homeMessage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.homeMessage > h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Rubik Mono One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  color: white;
  text-shadow: 6px 6px black;
  -webkit-text-stroke: 1.5px black;
}

.homeMessage > h1 > span {
  color: #F8CC06;
}